/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #feecef;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 80px;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    color: #84634b;
    background-color: #ff90a3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fe8499;
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;
}
 h2.titulo span{
    color: #84634b;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 0px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #fe8499;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #84634b;
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



header img{
    width: 200px;
    height: 260px;
}


.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ff90a3;
    transform: scale(1.05);

}



section.topo-do-site{
    padding: 40px 4%;
    
}

.img-topo-site img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fe8499;
    font-size: 48px;
    line-height: 40px;
    font-weight: 700;

}

.topo-do-site .txt-topo-site h1 span{
    color: #84634b;
}

.topo-do-site .txt-topo-site p{
    font-size: 16px;
    line-height: 28px;
    color: #ff90a3;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    box-shadow: 0px 0px 50px #fe8499;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*estilo das especialidades*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}


section.especialidades h2{
    color: #fe8499;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

section.especialidades .flex{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;

}

.especialidades .especialidades-box{
    background-color: #feecef;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s
}


.especialidades .especialidades-box:hover{
    box-shadow: 0px 0px 20px #ff90a3;
    transform: scale(1.05);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #fe8499;
    margin-bottom: 20px;
}

.especialidades .especialidades-box h3{
    color: #84634b;
    font-size: 22px;
    margin: 15px 0px;
}

.especialidades .especialidades-box p{
    color: #84634b;
    font-size: 15px;
    line-height: 25px;
}

/*estilo do whatsapp*/
.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;

    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;

    border-radius: 50%;
    z-index: 999;
}